# committer
*.bat

#  bower
bower_components/

#  node
node_modules/
npm-debug.log

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.versions

*.tmp
.fake/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

